.ap{
    background-color: rgb(185, 240, 255);
}

body {
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

.items {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(241, 212, 217);
  padding: 10px;
  gap: 10px;
  list-style: none;
}

.items li {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* padding: 10px 10px 0px 70px; */
  text-align: center;
  flex: 1 1 calc(25% - 30px); /* 4 items per row */
  box-sizing: border-box;
  margin: 10px;
  background-color: rgb(255, 255, 213);
}

.items li img {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
}

/* @media (max-width: 1200px) {
  .items li {
    flex: 1 1 1 1 calc(50% - 20px); 2 items per row
  }
}

@media (max-width: 768px) {
  .items li {
    flex: 1 1 1 1 calc(100% - 20px); 1 item per row
  }
}

@media (max-width: 480px) {
  .items li {
    flex: 1 1 1 1 100%; 1 item per row
    margin: 10px 0;
  }
} */
